<form class="container mt-4" id="form" >
    <h2 class="mt-4">Registration form</h2>
    <div class="row mb-3">
      <div class="row mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="First name"
          aria-label="First name"
          id="firstname"
        />
      </div>
      <div class="row mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Last name"
          aria-label="Last name"
          id="lastname"
        />
      </div>
      <div class="row mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Age"
          aria-label="Age"
          id="age"
        />
      </div>
      <div class="row mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Education"
            aria-label="Education"
            id="education"
          />
        </div>
      <div class="row mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Desired position"
          aria-label="Desired position"
          id="desired_position"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary" id="btn-sunmit-form">Submit</button>
  </form>
