<div class="info">
    <div class="popular-profession">
      <h3 class="head-popular">Popular Profession</h3>
      <table class="table table-info table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Info</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><strong>Front-End</strong></td>
            <td>
              Front-end web development is the development of the graphical
              user interface of a website, through the use of HTML, CSS, and
              JavaScript, so that users can view and interact with that
              website.
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><strong>Design</strong></td>
            <td>
              Designit is a call to action to make the difference we want to
              see in the world.
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><strong>QA</strong></td>
            <td>
              A QA Engineer is a professional who finds and fixes bugs in a
              product or program before its launch, collaborating with
              developers on fixes to those problems when necessary.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>