<form class="container mt-4" id="form-post">
    <h2 class="mt-4">Post Job</h2>
    <div class="row mb-3">
      <div class="row mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Company"
          aria-label="Company"
          id="company"
        />
      </div>
      <div class="row mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Vacancy"
          aria-label="Vacancy"
          id="vacancy"
        />
      </div>
      <div class="row mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="About vacancy"
          aria-label="About vacancy"
          id="about"
        />
      </div>
      <div class="row mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Salary"
            aria-label="Salary"
            id="salary"
          />
        </div>
    
    </div>
    <button type="submit" class="btn btn-primary" id="btn-puplic-job">Public</button>
  </form>